*{
    margin: 0px;
    padding-top: 0px;
}

body{
    margin: 0px;
    height: 100vh;
}

.fundo{
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
    background: #D9D9D9;

}

.superior{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left; 
    color: #04C9F4;
    background-color: white;
    width: auto;
    height: 45px;
    gap: 0px;
    opacity: 0px;
    
}
.nmo{
    border: none;
    width: 330px;
    height: 46px;
    top: 337px;
    left: 246px;
    gap: 0px;
    opacity: 0px;

}

.BOT{
    background: #04C9F4;
    border: none;
    width: 160px;
    height: 44px;
    top: 451px;
    left: 332px;
    gap: 0px;
    opacity: 0px;

}

.BOT:hover{
    background-color: aqua;
    pointer-events:fill;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 153px;
    height: 115px;
    top: 198px;
    left: 332px;
    gap: 0px;
    opacity: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;

    
}

.fundobase{
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 394px;
    height: 335px;
    top: 169px;
    left: 208px;
    gap: 0px;
    opacity: 0px;
    background: #D9D9D9;

}

@media (max-width: 600px) {
    .fundobase{
    width: 197px;
    height: 335px;
    top: 84px;
    left: 104px;
    gap: 0px;
    opacity: 0px;
    }

    .nmo{
    border: none;
    width: 165px;
    height: 46px;
    top: 168px;
    left: 123px;
    gap: 0px;
    opacity: 0px;
    }

    .logo{
        width: 120px;
        height: 115px;
        top: 140px;
        left: 300px;
        gap: 0px;
        opacity: 0px;
    }
}


