*{
    margin: 0px;
}

.back{
    background-image: linear-gradient(45deg, rgb(0, 7, 49), #2600ffa4);
    height: 100vh;
}

.name{
    font-size: 20px;
    color:#ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.father{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 362px;
    max-height: 374px;
    background-color: rgb(255, 255, 255);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: 1 1 auto;
}

@media (max-width:700px) {
    .father{
        max-width: 362px;
        max-height: 500px;
    }
}

#screen0 {
    width: 323px;
    height: 59px;
}

.son{
    box-shadow: 0px 2px 6px;
    text-align: center;
    width: 75px;
    height: 59px;
    margin: 5px;
    border: solid 1px black;
    background-color: #fff;
    flex: 1 1 auto;

}

.son:hover{
    background-color: rgb(204, 204, 204);
}

#iqual{
    flex-grow: 20;
}